<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/groups/browse/groups-tree.html">
<link rel="import" href="/src/components/stepper/cal-stepper.html">

<link rel='import' href='welcome-styles.html'>
<dom-module id='ask-groups'>
	<template>
		<style include='welcome-styles'></style>
		<div class='header'>
			<iron-icon src='/src/images/Time-Zones.png' alt="HTML5 Icon" class='iconstyle'></iron-icon>
		</div>
		<div class='center-align'>
			<h1>Select interesting social calendar groups to subscribe events.</h1>
			<p>Based on your location, [[product]] found these groups. Please select the groups of your interest.</p>
			<groups-tree></groups-tree>

			<iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" body='[[ajaxBody]]' content-type='application/json' on-error='handleErrorResponse'
			 on-response='handleAjaxResponse'></iron-ajax>

			<cal-stepper step-count=2 selected-index=1></cal-stepper>
		</div>
	</template>
	<script type='text/javascript' src='ask-groups.js'></script>
</dom-module>