<link rel='import' href='/bower_components/polymer/polymer.html'>
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/src/components/stepper/cal-stepper.html">
<link rel="import" href="/src/elements/country-region-selector/country-region-selector.html">

<link rel='import' href='welcome-styles.html'>
<dom-module id='ask-location'>
	<template>
		<style include='welcome-styles'></style>
		<div class='header'>
			<iron-icon src='/src/images/Time-Zones.png' alt="HTML5 Icon" class='iconstyle'></iron-icon>
		</div>
		<div class='center-align'>
			<h1>To help organize, we need some information</h1>
			<p>Welcome to [[product]].</p>
			<p>Inroducing social calandering to help organize your daily activites.</p>
			<country-region-selector country-value="{{countryValue}}" region-value="{{regionValue}}"></country-region-selector>
			<cal-stepper step-count=3 selected-index=1></cal-stepper>
		</div>
	</template>
	<script type='text/javascript' src='ask-location.js'></script>
</dom-module>