<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/stepper/cal-stepper.html">
<link rel="import" href="/src/elements/country-region-selector/country-region-selector.html">

<link rel='import' href='welcome-styles.html'>
<dom-module id='ask-location'>
	<template>
		<style include='welcome-styles'></style>
		<div class='header'>
			<iron-icon src='/src/images/Time-Zones.png' alt="HTML5 Icon" class='iconstyle'></iron-icon>
		</div>
		<div class='center-align'>
			<h1>To help organize, we need some information</h1>
			<p>Welcome to [[product]].</p>
			<p>Inroducing social calandering to help organize your daily activites.</p>
			<country-region-selector country-value="{{countryValue}}" region-value="{{regionValue}}" city-value='{{city}}'></country-region-selector>
			<cal-stepper step-count=3 selected-index=1></cal-stepper>
		</div>

		<iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" body='[[ajaxBody]]' content-type='application/json' on-error='handleErrorResponse'
		 on-response='handleAjaxResponse'></iron-ajax>
		<iron-localstorage name="planetCal-storage" value="{{localStorage}}"></iron-localstorage>
	</template>
	<script type='text/javascript' src='ask-location.js'></script>
</dom-module>