<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/groups/browse/groups-tree.html">
<link rel="import" href="/src/components/stepper/cal-stepper.html">

<link rel='import' href='welcome-styles.html'>
<dom-module id='ask-groups'>
	<template>
		<style include='welcome-styles'></style>
		<div class='center-align'>
			<h1>Select interesting social calendar groups to subscribe events.</h1>
			<p>Based on your location, [[product]] found these groups. Please select the groups of your interest.</p>
			<groups-tree></groups-tree>
			<cal-stepper step-count=3 selected-index=2></cal-stepper>
		</div>
	</template>
	<script type='text/javascript' src='ask-groups.js'></script>
</dom-module>