<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/stepper/cal-stepper.html">
<link rel='import' href='welcome-styles.html'>
<dom-module id='welcome-view'>
	<template>
		<style include='welcome-styles'></style>
		<div class='header'>
			<iron-icon src='/src/images/logo.png' alt="HTML5 Icon" class='iconstyle'></iron-icon>
		</div>
		<div class='center-align'>
			<h1>Hello [[name]]</h1>
			<p>Welcome to [[product]].</p>
			<p>Inroducing social calandering to help organize your daily activites.</p>
			<cal-stepper step-count=2 selected-index=0></cal-stepper>
		</div>
	</template>
	<script type='text/javascript' src='welcome-view.js'></script>
</dom-module>