<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="./events-import-styles.html">
<style>
  .event-icons {
    color: #145;
    margin-left: 5px;
    margin-top: 30px;
    cursor: pointer;
  }

  .event-icons:hover {
    color: #367;
  }

  .action-icons {
    color: #256;
    width: auto;
    --paper-button-ink-color: #256;
  }

  .action-icons:hover {
    background-color: #9cd;
  }

  paper-dialog.size-position {
    top: 0px;
  }
</style>

<dom-module id="events-import">
  <template>
    <style include="events-import-styles"></style>
    hi how are you!
  </template>
  <script type="text/javascript" src="events-import.js"></script>
</dom-module>