<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="./events-import-styles.html">

<dom-module id="events-import">
  <template>
    <style include="events-import-styles"></style>
    hi how are you!

    <div>
      <paper-input type="file" label="Upload Image" id="IcsFile" on-change="openFile" accept="*/"></paper-input>
    </div>

  </template>
  <script type="text/javascript" src="/bower_components/ical.js/"></script>
  <script type="text/javascript" src="events-import.js"></script>
</dom-module>