<link rel='import' href='/bower_components/polymer/polymer.html'>
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel='import' href='stepper-styles.html'>
<dom-module id='cal-step'>
	<template>
		<style include='stepper-styles'></style>
		<!--<a id='[[item.linktype]]' tabindex="-1">-->
		<paper-icon-button id='[[color]]' icon="av:fiber-manual-record" on-tap='onTapHandler'></paper-icon-button>
		<!--</a>-->
	</template>
	<script type='text/javascript' src='cal-step.js'></script>
</dom-module>