<link rel='import' href='/bower_components/polymer/polymer.html'>
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel='import' href='stepper-styles.html'>
<dom-module id='cal-stepper'>
	<template>
		<style include='stepper-styles'></style>
		<td>
			<template is="dom-repeat" id="step" items="{{stepItems}}">
				<div id='[[item.color]]' class='bullet'></div>
			</template>
		</td>
	</template>
	<script type='text/javascript' src='cal-stepper.js'></script>
</dom-module>