<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/stepper/cal-step.html">
<link rel='import' href='stepper-styles.html'>
<dom-module id='cal-stepper'>
	<template>
		<style include='stepper-styles'></style>
		<template is="dom-if" if="[[leftArrowVisible]]">
			<span class="nav-icon pull-left">
				<paper-icon-button class='nav-link' icon="hardware:keyboard-arrow-left" on-tap="previousHandler" noink></paper-icon-button>
			</span>
		</template>
		<template is="dom-if" if="[[rightArrowVisible]]">
			<span class="nav-icon pull-right">
				<paper-icon-button class='nav-link' icon="hardware:keyboard-arrow-right" on-tap="forwardHandler" noink></paper-icon-button>
			</span>
		</template>
		<template is="dom-repeat" id="step" items="{{stepItems}}">
			<cal-step index='[[item.index]]' selected-index='[[selectedIndex]]'></cal-step>
		</template>
	</template>
	<script type='text/javascript' src='cal-stepper.js'></script>
</dom-module>