<link rel='import' href='/bower_components/polymer/polymer.html'>
<link rel="import" href="/src/components/stepper/cal-step.html">
<link rel='import' href='stepper-styles.html'>
<dom-module id='cal-stepper'>
	<template>
		<style include='stepper-styles'></style>
		<template is="dom-repeat" id="step" items="{{stepItems}}">
			<cal-step index='[[item.index]]' selected-index='[[selectedIndex]]'></cal-step>
		</template>
	</template>
	<script type='text/javascript' src='cal-stepper.js'></script>
</dom-module>