<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="stepper-styles">
  <template>
    <style>
      #blue {
        background: #0177D7;
        width: 15px;
        height: 15px;
      }

      #grey {
        background: #ddd;
        width: 10px;
        height: 10px;
        margin-top: 2px;
      }

      .bullet {
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        margin-left: 10px;
        margin-right: 10px;
        float: left;
        vertical-align: center;
      }
    </style>
  </template>
</dom-module>