<link rel='import' href='/bower_components/polymer/polymer.html'>
<link rel='import' href='/src/components/events/event-styles.html'>
<dom-module id='cal-event'>
  <template>
    <style include='event-styles'></style>
    <fieldset class='eventcard'>
      <div class='horizontal imageColumn'>
        <img src='[[image]]'>
      </div>
      <div class='horizontal eventNameColumn'>
        <a href='#'>[[name]] ([[type]])</a>
        <br/>
        <span>[[description]]</span>
      </div>

      <div class='horizontal locationColumn'>
        <a href='[[venueLink]]' target='_blank'>[[venue]]</a>
        <br/>
        <span>[[location]]</span>
      </div>

      <div class='horizontal timeColumn'>
        [[time]]
        <br/>
        <span>[[duration]] </span>
      </div>

    </fieldset>
  </template>
  <script>
    Polymer({
      is: 'cal-event',
      properties: {
        id: {
          type: String,
        },
        name: {
          type: String,
        },
        description: {
          type: String,
        },
        image: {
          type: String,
        },
        type: {
          type: String,
        },
        venue: {
          type: String,
        },
        venueLink: {
          type: String,
        },
        location: {
          type: String,
        },
        time: {
          type: String,
        },
        duration: {
          type: String,
        },
        attendees: {
          type: String,
        },
      }
    });
  </script>
</dom-module>