<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/events/cal-event.html">
<link rel="import" href="/src/components/events/event-styles.html">

<dom-module id="cal-events">
  <template>
    <style include="event-styles"></style>
    <div class='searchBarStyle'>
      <search-bar searchInput='{searchText}' show='true'></search-bar>
    </div>
    <div class='dateDisplay'>[[selectedMonth]]/[[selectedDay]]/[[selectedYear]]</div>

    <iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" content-type='application/json' on-error='handleErrorResponse' on-response='handleAjaxResponse'></iron-ajax>

    <iron-list items="[[data]]" as="item">
      <template>
        <cal-event id='[[item.id]]' name="[[item.name]]" description="[[item.description]]" image=[[getImage(item)]] venue='[[getVenue(item)]]'
          venue-link='[[getVenueLink(item)]]' location="[[item.location]]" type='[[item.type]] ' time="[[getDate(item.startDateTime)]]"
          duration='[[getDuration(item.startDateTime, item.endDateTime)]] '>
        </cal-event>
      </template>
    </iron-list>
  </template>
  <script type="text/javascript" src="cal-events.js"></script>
</dom-module>