<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-list/iron-list.html">
<link rel="import" href="/src/components/events/cal-event.html">
<link rel="import" href="/src/components/events/event-styles.html">

<dom-module id="cal-events">
  <template>
    <style include="event-styles"></style>
    <div class='searchBarStyle'>
      <search-bar searchInput='{searchText}' show='true'></search-bar>
    </div>
    <div class='dateDisplay'>[[selectedMonth]]/[[selectedDay]]/[[selectedYear]]</div>

    <iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" content-type='application/json' on-error='handleErrorResponse' on-response='handleAjaxResponse'></iron-ajax>

    <iron-list items="[[data]]" as="item">
      <template>
        <cal-event id='[[item.id]]' name="[[item.Name]]" description="[[item.Description]]" image='/src/images/about.jpg' venue='[[getVenue(item.Groups)]]'
          venue-link='[[getVenueLink(item.Groups)]]' location="[[item.Location]]" type='[[item.Type]]' time="[[getDate(item.StartDateTime)]]"
          Duration='[[getDuration(item.StartDateTime, item.EndDateTime)]]'>
        </cal-event>
      </template>
    </iron-list>
  </template>
  <script type="text/javascript" src="cal-events.js"></script>
</dom-module>