<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-list/iron-list.html">
<link rel="import" href="/src/components/cal-events/cal-event.html">

<dom-module id="cal-events">
  <template>
    <iron-ajax url="..\Data.json" last-response="{{data}}" auto></iron-ajax>
    <iron-list items="[[data]]" as="item">
      <template>
        <cal-event 
          name="[[item.name]]" 
          description="[[item.value]]. this is the descrption for this event. It is a kid friendly event, and everyone is cordially invited."
          image='/src/images/about-us.jpg'
          venue="microsoft cafetaria building 44"
          location="1 Microsoft way Redmond WA 98052"
          time="Mon Aug 29 2016"
          Duration='4 Days'>
        </cal-event>
      </template>
    </iron-list>
  </template>
  <script>
    Polymer({
      is: 'cal-events',

      properties: {
				selectedDay: {
          type: Number,
        },
				selectedMonth: {
          type: Number,
        },
				selectedYear: {
          type: Number,
        },
      },
    });
  </script>
</dom-module>