<link rel="import" href="/bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="cal-event-styles">
  <template>
    <style>
      .eventcard {
        border: solid thin rgb(134, 178, 203);
        padding: 5px;
        color: #757575;
        border-radius: 5px;
        background-color: #f5f5f5;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      img {
        border: 0;
        width: 60px;
        height: 60px;
        alt: '';
      }
      .dc1 {
        width: 60px;
        float: left;
        vertical-align: top;
        text-align: left;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 9px;
        overflow: hidden;
    }
    
    .dc2 {
        width: 350px;
        float: left;
        vertical-align: top;
        text-align: left;
        margin-top: 6px;
        margin-right: 25px;
        padding-bottom: 6px;
    }

    /*.dc3 {
        width: 130px;
        float: left;
        vertical-align: top;
        text-align: left;
        margin-top: 6px;
        margin-right: 25px;
        line-height: 1.38em;
        padding-bottom: 6px;
    }*/

    /*
    .dlast {
        float: left;
        text-align: left;
        width: 200px;
        vertical-align: top;
        margin-top: 6px;
        line-height: 1.38em;
        padding-bottom: 6px;
        overflow: hidden;
        word-break: break-word;
    }
    */
    
    .wrapwords {
        word-wrap: break-word;
    }

    .listtitle {
        font-size: medium;
        color: #04c;
        line-height: 1.19em;
    }
    </style>
  </template>
</dom-module>
