<link rel="import" href="/bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="cal-event-styles">
  <template>
    <style>
      .eventcard {
        border: solid thin rgb(134, 178, 203);
        padding: 5px;
        color: #757575;
        border-radius: 5px;
        background-color: #f9f9f9;
      }

      a {
        color: #212121;
        font-size: 20px;
      }

      img {
        border: 0;
        width: 60px;
        height: 60px;
        alt: '';
      }
      
      .horizontal {
        float: left;
        vertical-align: top;
        text-align: left;
        padding: 10px;
        word-wrap: break-word;
        color: gray;
      }

      .imageColumn {
        width: 60px;
      }
      
      .eventNameColumn {
        width: 300px;
      }

      .locationColumn {
        width: 300px;
      }
      
      .timeColumn {
        width: 150px;
      }
   </style>
  </template>
</dom-module>
