<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/src/components/cal-events/event-styles.html">
<dom-module id="cal-event">
  <template>
    <style include="event-styles"></style>
    <div class="card2">
      <div class="rectangle">[[eventTitle]]</div>
      <p>[[eventDetails]]</p>
    </div>
      <hr/>
  </template>


  <script>
    Polymer({
      is: 'cal-event',
      properties: {
        eventTitle: {
          type: String,
        },
        eventDetails: {
          type: String
        }
      }
    });
  </script>
</dom-module>
