<link rel="import" href="/src/components/events/event-styles.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-menu-button/paper-menu-button.html">

<dom-module id="event-item">
  <template>
    <style include="event-styles"></style>
    </style>

<div class="bg_colour">
    <div class="dc1">
        <a href="#">
            <img style="border: 0;" height="60" width="60" alt="" class="floatleft rms_img" src="[[image]]" >
        </a>
    </div>
    <div class="dc2">
        <div class="listtitle wrapwords">
            <a href="#">[[name]]</a><br/>
            <span style="color:gray">[[description]] </span>
        </div>
    </div>
    <div class="dc3">
        <a class="seclink wrapwords" href="#" >[[venue]]</a>
        <br><span class="wrapwords">[[location]]</span>
        <br>
        <a class="seclink" href="#"></a>
    </div>
    <div class="dlast">[[time]]
        <br><span class="seclink" >[[duration]]</a>
    </div>
   <div style="width:100%;border-bottom:solid 1px lightgray "></div>
</div>
 

</template>

 <script type="text/javascript" src="/src/components/events/event-item.js"></script>
</dom-module>
