<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-card/paper-card.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/hardware-icons.html">

<link rel="import" href="/src/components/calendar/calendar-row.html">
<link rel="import" href="/src/components/calendar/calendar-styles.html">

<dom-module id="cal-calendar">
	<style include="calendar-styles" is=""></style>
	<template>
		<paper-card class="calendar">
			<div style="text-align:center">
				<p>[[_selectedDate]]</p>
			</div>
			<div class="header">
				<span class="nav-icon pull-left">
					<paper-icon-button icon="hardware:keyboard-arrow-left" on-tap="backhandler"></paper-icon-button>
				</span>
				<span class="nav-icon pull-right">
					<paper-icon-button icon="hardware:keyboard-arrow-right" on-tap="forwardhandler"></paper-icon-button>
				</span>
				<p>[[monthYearDisplay]]</p>
			</div>
			<!-- end header -->

			<div class="calendar-body">
				<div class="row weekdays">
					<template is="dom-repeat" items="{{daysNames}}">
						<div class="col-xs-1">[[item]]</div>
					</template>
				</div>
				<!-- end days row -->

				<template is="dom-repeat" items="{{dayList}}">
					<div>
						<calendar-row start-day="[[item.day]]" start-month="[[_month]]" start-year="[[_year]]" selected-day="[[_selectedDay]]" selected-month="[[_selectedMonth]]"
						 selected-year="[[_selectedYear]]" />
					</div>
				</template>
			</div>
			<hr />

			<div class="control-header">
				<span class="nav-icon pull-left">
					<paper-button class="link" on-tap="todayhandler">Today</paper-button>
					<paper-button class="link" on-tap="tomorrowhandler">Tomorrow</paper-button>
				</span>
			</div>

		</paper-card>
	</template>
	<script type='text/javascript' src='cal-calendar.js'></script>
</dom-module>