<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/calendar/calendar-styles.html">
<link rel="import" href="/src/components/calendar/calendar-cell.html">

<dom-module id="calendar-row">
	<style include="calendar-styles"></style>
	<template>
		<div class="calendar-body">
			<div class="row dates">
				<template is="dom-repeat" items="{{dayList}}">
					<div class="col-xs-1">
						<calendar-cell day="[[item.day]]" month="[[item.month]]" year="[[item.year]]" inactive="[[item.inactive]]" selected="[[item.selected]]"
						 today="[[item.today]]" />
					</div>
				</template>
			</div>
		</div>
	</template>
	<script type='text/javascript' src='calendar-row.js'></script>
</dom-module>