<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/src/components/calendar/calendar-styles.html">

<dom-module id="calendar-cell">
  <style>
    .calendar-cell-a {
      text-decoration: none;
      color: var(--cal-cell-color);
    }

    .calendar-cell-div {
      border: var(--cal-cell-border);
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 15%;
      background-color: var(--cal-cell-background-color);
    }
  </style>
  <template>
    <div class="calendar-cell-div" on-tap="tapHandler">
      <a class="calendar-cell-a" href="">[[day]]</a>
    </div>
  </template>
  <script type='text/javascript' src='calendar-cell.js'></script>
</dom-module>