<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="user-settings-styles">
  <template>
    <style>
      iron-icon {
        margin-right: 0.5em;
      }

       :host {
        --primary-background-color: #0e0e0e;
        color: #FFFFFF;
        --paper-menu-button-content: {
          color: #FFFFFF;
          top: 45px;
          width: 140px;
          .dropdown-content.selectable-content {
            paper-item {
              color: #FFF;
            }
          }
          .link {
            color: #FFF;
            text-decoration: none;
          }
          .login {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      ;
       :host([vertical-align="top"]) .dropdown-content {
        color: #FFF;
      }

      .horizontal {
        width: auto;
        display: table-cell;
      }
    </style>
  </template>
</dom-module>