<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="user-settings-styles">
  <template>
    <style>
      iron-icon {
        margin-right: 0.5em;
      }
      
      .dropdown-content {
        width: 200px;
      }
      
      .link {
        color: var(--app-text-color-dark);
        text-decoration: none;
        cursor: pointer;
      }
      
      .login {
        cursor: pointer;
        text-decoration: underline;
      }
      
      .horizontal {
        width: auto;
        display: table-cell;
      }
    </style>
  </template>
</dom-module>