<link rel="import" href="/src/polymer-refs.html">
<link rel='import' href='user-settings-styles.html'>
<dom-module id='user-settings'>
	<template>
		<style include='user-settings-styles'></style>
		<div>
			<!--<iron-localstorage name='planetCal-storage' value='{{localStorage}}' 
			on-iron-localstorage-load='_onLocalStorageLoad'></iron-localstorage>-->

			<div class='horizontal'>
				<div class='horizontal'>[[userName]]</div>
				<div class='horizontal'>&nbsp;&nbsp;&nbsp;</div>
				<div class='horizontal'>
					<a class='login' on-tap='_loginOrLogoutHandler' tabindex='1'>[[loginOrLogout]]</a>
				</div>
				<div class='horizontal'>
					<paper-menu-button horizontal-align="right" vertical-align="top" vertical-offset="50">
						<paper-icon-button noink icon="more-horiz" class="dropdown-trigger" alt="bottom align"></paper-icon-button>
						<paper-menu class="dropdown-content">
							<paper-item><a class='link' href='/' tabindex='1'>Home</a></paper-item>
							<paper-item><a class='link' href='[[userProfileLink]]' text='Settings' on-tap='settingsClickHandler' tabindex='2'>Settings</a></paper-item>
							<paper-item><a class='link' href='/about' text='About' tabindex='3'>About</a></paper-item>
							<paper-item><a class='link' href='/contact' text='Contact' tabindex='4'>Contact</paper-item>
					  </paper-menu>
				  </paper-menu-button>
				</div>
			</div>
		</div>
	</template>
	<script type='text/javascript' src='user-settings.js'></script>
</dom-module>