<link rel='import' href='/bower_components/polymer/polymer.html'>
<link rel='import' href='/bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='/bower_components/paper-menu/paper-menu.html'>
<link rel='import' href='/bower_components/paper-item/paper-item.html'>
<link rel='import' href='/bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='/bower_components/paper-menu-button/paper-menu-button.html'>
<link rel='import' href='user-settings-styles.html'>
<dom-module id='user-settings'>
	<template>
		<style include='user-settings-styles'></style>
		<div>
			<!--<iron-localstorage name='planetCal-storage' value='{{localStorage}}' 
			on-iron-localstorage-load='_onLocalStorageLoad'></iron-localstorage>-->

			<div class='horizontal'>
				<div class='horizontal'>[[userName]]</div>
				<div class='horizontal'>&nbsp;&nbsp;&nbsp;</div>
				<div class='horizontal'>
					<a class='login' on-tap='_loginOrLogoutHandler' tabindex='1'>[[loginOrLogout]]</a>
				</div>
				<div class='horizontal'>
					<paper-menu-button id='planet-dropdown' horizontal-align="right">
						<paper-icon-button noink icon="more-horiz" class="dropdown-trigger" alt="bottom align"></paper-icon-button>
						<paper-menu class="dropdown-content">
							<paper-item><a class='link' href='/' tabindex='1'>Home</a></paper-item>
							<paper-item><a class='link' href='/user-profile' text='Settings' tabindex='2'>Settings</a></paper-item>
							<paper-item><a class='link' href='/about' text='About' tabindex='3'>About</a></paper-item>
							<paper-item><a class='link' href='/contact' text='Contact' tabindex='4'>Contact</paper-item>
					  </paper-menu>
				  </paper-menu-button>
				</div>
			</div>
		</div>
	</template>
	<script type='text/javascript' src='user-settings.js'></script>
</dom-module>