<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/cal-settings/cal-settings-styles.html">
<link rel="import" href="/src/elements/country-region-selector/country-region-selector.html">
<dom-module id="cal-settings">
    <template>
        <style include="cal-settings-styles"></style>
        <h2>User settings</h2>
        <p> User: [[name]]
            <a href='/change-password'>Change password</a>
        </p>
        <p> Email: [[email]]</p>

        <p>Location:</p>
        <country-region-selector country-value="{{countryValue}}" region-value="{{regionValue}}" city-value='{{city}}'></country-region-selector>
        <paper-button class="saveButton" raised on-tap="saveSettingsHandler">
            Save
        </paper-button>

        <iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" body='[[ajaxBody]]' content-type='application/json' on-error='handleErrorResponse'
            on-response='handleAjaxResponse'></iron-ajax>

        <iron-localstorage name="planetCal-storage" value="{{localStorage}}"></iron-localstorage>
    </template>

    <script type='text/javascript' src='cal-settings.js'></script>
</dom-module>