<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="cal-settings-styles">
    <template>
        <style>
            .saveButton {
                height: 2em;
                background-color: darkgray;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                color: #fff;
                text-decoration: none;
                border: none;
                cursor: pointer;
                font-size: 16px;
            }

            .saveButton:hover {
                background-color: grey
            }
        </style>
    </template>
</dom-module>