<link rel="import" href="/src/polymer-refs.html">

<link rel="import" href="tab-styles.html">

<dom-module id="page-tab">
  <template>
    <style include="tab-styles" is=""></style>
    <a name="[[name]]" href="[[href]]">
      <div class="tab">
        <iron-icon icon='[[icon]]'></iron-icon>
        [[text]]
      </div>
    </a>

  </template>
  <script>
    Polymer({
      is: 'page-tab',

      properties: {
        name: {
          type: String
        },
        href: {
          type: String
        },
        text: {
          type: String
        },
        icon: {
          type: String
        },
      }
    });
  </script>
</dom-module>