<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="tab-styles">
  <template>
    <style>
      .tab {
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        width: 84%;
        margin-left: 5px;
        margin-top: 2px;
        margin-bottom:7px;

        padding-left:40px;
        padding-top: 8px;
        padding-bottom: 8px;

        color: #212121;
        font-size: 22px;
      }

      a {
        text-decoration: none;
      }

    </style>
  </template>
</dom-module>
