<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="groups-display-styles">
    <template>
        <style>
             :host {
                display: block;
                margin-left: 0.5%;
                margin-right: 0.5%;
            }

            paper-card {
                height: 355px;
                margin: 10px;
                width: 300px;
                background-color: var(--app-color-p);
                vertical-align: top;
                --paper-card-header-image: {
                    height: 140px;
                }
            }

            paper-card:hover {
                background-color: var(--app-color-r);
            }

            .paper-card-private {
                background-color: var(--app-color-q);
            }

            .paper-card-private:hover {
                background-color: var(--app-color-r);
            }

            paper-tabs {
                background-color: var(--app-color-l);
                margin: 0 -5px;
                margin-bottom: 12px;
            }

            h2 {
                margin: 5px;
            }

            paper-tabs .iron-selected {
                background-color: var(--app-color-p);
            }

            iron-icon {
                color: var(--app-color-i);
            }

            iron-icon.icon-edit {
                color: var(--app-color-i);
                cursor: pointer;
                margin-left: 10px;
            }

            iron-icon.icon-edit:hover {
                color: var(--app-color-g);
            }

            .text-phone {
                color: var(--app-color-k);
            }

            a {
                text-decoration: none;
                color: var(--app-color-k);
            }

            a:hover {
                text-decoration: underline;
                color: var(--app-color-g);
            }

            a.link-events {
                text-decoration: none;
                color: var(--app-color-i);
            }

            a.link-events:hover {
                text-decoration: underline;
                color: var(--app-color-g);
            }

            a.link-create {
                text-decoration: none;
                color: var(--app-color-m);
                ;
            }

            a.link-create:hover {
                text-decoration: underline;
                color: var(--app-color-k);
            }

            .card-footer {
                text-align: right;
                margin-right: 20px;
            }

            .displayNone {
                display: none;
            }
        </style>
    </template>
</dom-module>