<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="groups-display-styles">
    <template>
        <style is="groups-display-styles">
             :host {
                display: block;
            }
            
            div#test.test {
                color: darkgreen;
            }
            
            .paper-card {
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                background-color: blue;
                border-radius: 2px;
                font-family: 'Roboto', 'Noto', sans-serif;
                -webkit-font-smoothing: antialiased;
            }
        </style>
    </template>
</dom-module>