<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/src/polymer-refs.html">

<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

<dom-module id="groups-display">
    <link rel="import" type="css" href="groups-display-styles.css">
    <template>
        <div>
            <h2>Groups</h2>
        </div>
        <iron-ajax id="requestRepos" auto url="../../../data/Data.Groups.json" handle-as="json" on-response="handleResponse">
        </iron-ajax>
        <!--iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" content-type='application/json' on-error='handleErrorResponse' on-response='handleAjaxResponse'></iron-ajax-->
        <template is="dom-repeat" items="{{items}}">
            <paper-card heading="{{item.name}}" elevation="5" image="{{item.icon}}" animated-shadow="true" animated title="{{item.name}}">
                <div class="card-content">
                    <div>[[DisplayLimitedText(item.description, 240)]]</div>
                    <div style="height: 20px;"></div>
                    <div class="text-phone">
                        <iron-icon icon="icons:perm-phone-msg"></iron-icon> {{item.contact.phone}}
                    </div>
                    <div>
                        <iron-icon icon="communication:email"></iron-icon>
                        <a href="mailto:{{item.contact.email}}" title="Email">{{item.contact.email}}</a>
                    </div>
                    <div>
                        <iron-icon class="icon" icon="hardware:laptop"></iron-icon>
                        <a href="{{item.webSite}}" target="_blank" title="Website">{{item.webSite}}</a>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="link-events" href="group-events/{{item.id}}" title="Go to Events">Events</a>
                    <iron-icon class="icon-edit" icon="icons:create" title="Edit" on-tap="editGroup"></iron-icon>
                    <iron-icon class="icon-edit" icon="icons:delete" title="Delete"></iron-icon>
                </div>
            </paper-card>
        </template>
        <iron-localstorage name="planetCal-storage" value="{{localStorage}}"></iron-localstorage>
    </template>
    <script type="text/javascript" src="/src/components/groups/display/groups-display.js"></script>
</dom-module>