
paper-card {
    height: 430px;
    margin: 10px;
    width: 300px;
    background-color: lightblue;
    vertical-align: top;
    --paper-card-header-image: {
        height: 150px;
    }
}
paper-card:hover {
    background-color: #41B4F1;
}

iron-icon {
    color: #6F778C;
}
iron-icon.icon-edit {
    color: #6F778C;
    cursor: pointer;
    margin-left: 10px;
}
iron-icon.icon-edit:hover {
    color: lightcoral;
}

.text-phone {
    color: #6F778C;
}

a {
    text-decoration: none;
    color: #6F778C;
}

a:hover { 
    text-decoration: underline;
    color: #393E48;
}
a.link-events {
    text-decoration: none;
    color: #6F778C;
}

a.link-events:hover { 
    text-decoration: underline;
    color: darkslategray;
}

.card-footer {
    text-align: right;
    margin-right: 20px;
}

