<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="groups-display-styles.html">


<dom-module id="groups-display">
    <template>
        <style include="groups-display-styles"></style>

        <iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" content-type='application/json' on-error='handleErrorResponse' on-response='handleAjaxResponse'></iron-ajax>
        <template is="dom-repeat" items="{{items}}">
            <paper-card class$="[[populateCardClass(item)]]" heading="[[groupDisplayName(item)]]" elevation="5" image="[[groupIcon(item)]]"
                animated-shadow="true">
                <div class="card-content" style="height:150px;" <div>[[DisplayLimitedText(item.description, 120)]]</div>
                <div style="height: 20px;"></div>
                <!-- <div>
                    [[item.category]]
                </div> -->
                <div class$="text-phone [[hideForPhone(item)]]">
                    <iron-icon icon="icons:perm-phone-msg"></iron-icon> [[item.contact.phone]]
                </div>
                <div class$="[[hideForEmail(item)]]">
                    <iron-icon icon="communication:email"></iron-icon>
                    <a href="mailto:[[item.contact.email]]" title="Email">[[item.contact.email]]</a>
                </div>
                <div class$="{{hideForWebsite(item)}}">
                    <iron-icon class="icon" icon="hardware:laptop"></iron-icon>
                    <a href="[[item.webSite]]" target="_blank" title="Website">[[item.webSite]]</a>
                </div>
                <div class$="{{hideForChildGroups(item)}}">
                    It contains [[item.childGroups.length]] sub-group/s.
                </div>
                <div class$="{{hideForParentGroup(item)}}">
                    It is a sub-group.
                </div>
                </div>
                <div class="card-footer">
                    <span class$="[[hideUnsubscribeButton(item)]]">
                        <a class="link-events" href='#' title="Un-follow" on-tap='unsubscribe'>Un-follow</a>
                        |</span>
                    <span class$="[[hideSubscribeButton(item)]]">
                        <a class="link-events" href='#' title="Follow" on-tap='subscribe'>Follow</a>
                        |</span>
                    <a class="link-events" href='#' on-tap="goToEvents" title="Go to Events">Events</a>
                    <iron-icon class$="icon-edit [[hideAddChildGroup(item)]]" icon="icons:add" title="Create Child Group" on-tap="createChildGroup"></iron-icon>
                    <iron-icon class$="icon-edit [[hideForEdit(item)]]" icon="icons:create" title="Edit" on-tap="editGroup"></iron-icon>
                    <iron-icon class$="icon-edit [[hideForEdit(item)]]" icon="icons:delete" title="Delete" on-tap="deleteGroup"></iron-icon>
                </div>
            </paper-card>
        </template>
    </template>
    <script type="text/javascript " src="/src/components/groups/display/groups-display.js "></script>
</dom-module>