<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="groups-display-styles.html">
<link rel="import" href="/src/components/groups/display/groups-display.html">

<dom-module id="tabbed-groups">
    <template>
        <style include="groups-display-styles"></style>
        <h2>Groups [
            <a class="link-create" href="#" on-tap="createGroup">CREATE</a> ]</h2>
        <paper-tabs noink no-bar scrollable fit-container selected='{{groupType}}' attr-for-selected='id'>
            <template is="dom-repeat" items="[[groupTypes]]">
                <paper-tab id='[[item.id]]'>[[item.displayName]]</paper-tab>
            </template>
        </paper-tabs>
        <groups-display group-type="[[groupType]]"></groups-display>
    </template>
    <script type="text/javascript" src="/src/components/groups/display/tabbed-groups.js"></script>
</dom-module>