<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="calendar-styles">
  <template>
    <style>
      .calendar {
        margin: 5px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        width: 96%
      }

			.control-header {
				height: 2.5em;
				background-color: #dddddd;
				color: white;
				text-align: center;
      }
			paper-button.link {
        color:black;
        font-size: 12px;
        text-decoration:underline;
			}

			.header {
				height: 2.5em;
				background-color:#808080;
				color: white;
				text-align: center;
      }
			.header span {
				padding: 0em;
      }
			.header p {
				padding: 8px;
      }
			.nav-icon {
				display: inline-block;
      }
			.pull-left {
				float: left !important;
      }
			.pull-right {
				float: right !important;
      }
			/*end of header calendar-styles*/

			.weekdays {
				padding: 1em;
			}

			.row {
				margin-right: -15px;
				margin-left: -15px;
        display: table;		
				width: 100%; 
				table-layout: fixed;
			}
			.dates {
				margin-right: -15px;
				margin-left: 0px;
			}
			.calendar-body {
				display: inline;
			}
			.calendar-body .col-xs-1 {
				width: 2.5em;
				text-align: center;
				display: table-cell;
			}
			.inactive {
				color: #ccc;
			}
    </style>
  </template>
</dom-module>
