<link rel='import' href='/bower_components/polymer/polymer.html'>
<link rel='import' href='/bower_components/iron-icons/iron-icons.html'>
<link rel='import' href='/src/components/user-settings/user-settings-styles.html'>
<dom-module id='user-settings'>
  <template>
  	<style include='user-settings-styles'>
		</style>
		<div>
			<!--<iron-localstorage name='planetCal-storage' value='{{localStorage}}' 
			on-iron-localstorage-load='_onLocalStorageLoad'></iron-localstorage>-->
			
			<div class='horizontal'>[[userName]]</div>
			<div class='horizontal'>
  			<iron-icon noink icon='icons:account-circle' class='dropdown-trigger'></iron-icon>
			</div>
			<div class='horizontal'>
				<a class='link' on-tap='_loginOrLogoutHandler' tabindex='1'>[[loginOrLogout]]</a>
			</div>
		</div>
  </template>
 <script type='text/javascript' src='user-settings.js'></script>
</dom-module>
