<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="group-styles.html">

<dom-module id="cal-group">
  <template>
    <style include="group-styles" is=""></style>
    <div class='card' on-tap="tapHandler">
      <template is="dom-if" if="[[checkboxVisible]]">
        <div class="horizontal">
          <paper-checkbox checked='{{checked}}' disabled='{{disabled}}' on-change='onCheckStateChange'>
          </paper-checkbox>
        </div>
      </template>
      <iron-icon icon='[[icon]]'></iron-icon>
      [[name]]
      <template is="dom-if" if="[[expanderVisible]]">
        <paper-icon-button icon="hardware:keyboard-arrow-right" on-tap="expandHandler"></paper-icon-button>
      </template>
    </div>
  </template>
  <script>
    Polymer({
      is: 'cal-group',

      properties: {
        id: { type: String, observer: '_dataChanged' },
        name: { type: String },
        icon: { type: String },
        showExpander: { type: Number, observer: '_dataChanged' },
        checkState: { type: Number, value: 4, observer: '_dataChanged' },
        parentId: { type: String, observer: '_dataChanged' },
      },

      ready: function () {
        this._dataChanged();
      },

      _dataChanged: function () {
        this.expanderVisible = this.showExpander === 1;
        this.checkboxVisible = true;
        if (!this.icon) {
          this.icon = 'social:group';
        }
        switch (this.checkState) {
          case (1):
            this.checked = false;
            this.disabled = false;
            break;
          case (2):
            this.checked = true;
            this.disabled = false;
            break;
          case (3):
            this.checked = true;
            this.disabled = true;
            break;
          case (4):
            this.checked = false;
            this.disabled = true;
            this.checkboxVisible = false;
            break;
        }
      },

      expandHandler: function () {
        console.log('expand group requested for:' + this.name)
        this.fire('--cal-group-expand-requested', { id: this.id, name: this.name });
      },

      onCheckStateChange: function () {
        this.fire('--cal-group-check-state-changed', { id: this.id, name: this.name, checked: this.checked, disabled: this.disabled });
      },

      tapHandler: function () {
        //console.log('tap clicked for:' + this.name);
        //this.fire('--cal-group-tapped', { id: this.id, name: this.name });
      }
    });
  </script>
</dom-module>