<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="group-styles">
  <template>
    <style>
      .horizontal {
        width: auto;
        float: left;
        margin-left: 8px;
      }

      .paper-tabs {
        background-color: var(--app-color-l);
        margin-right: -5px;
        margin-bottom: 12px;
        font-size: 20px;
      }

      .paper-tabs .iron-selected {
        background-color: var(--app-color-p);
      }

      .left-align {
        text-align: left;
      }

      .card {
        margin-right: 2px;
        margin-bottom: 12px;
        padding-bottom: 15px;
        padding-right: 5px;
        background-color: var(--app-color-p);
        color: var(--app-text-color-dark);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border: solid thin rgb(134, 178, 203);
      }

      td {
        vertical-align: top;
      }

      iron-selector {
        display: block;
        padding-left: 15px;
        text-decoration: none;
        color: var(--app-text-color-dark);
        line-height: 40px;
      }

      iron-selector .iron-selected {
        background: var(--app-color-n);
      }
    </style>
  </template>
</dom-module>