<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/components/groups/browse/cal-groups.html">
<link rel="import" href="group-styles.html">

<dom-module id="groups-tree">
  <template>
    <style include="group-styles" is=""></style>
    <iron-ajax id='ajax' handle-as='json' url="[[ajaxUrl]]" on-error='handleErrorResponse' on-response='handleAjaxResponse'></iron-ajax>

    <div class='left-align card'>
      <cal-groups id='rootRow' following-groups-initialized=[[followingGroupsInitialized]] root-row></cal-groups>
      <table>
        <td>
          <cal-groups id='firstRow' parent-group-id=[[firstRowParentGroupId]] following-groups-initialized=[[followingGroupsInitialized]]></cal-groups>
        </td>
        <td>
          <cal-groups id='secondRow' parent-group-id='[[secondRowParentGroupId]]' following-groups-initialized=[[followingGroupsInitialized]]></cal-groups>
        </td>
        <td>
          <cal-groups id='thirdRow' parent-group-id='[[thirdRowParentGroupId]]' following-groups-initialized=[[followingGroupsInitialized]]></cal-groups>
        </td>
      </table>
    </div>
  </template>
  <script>
    Polymer({
      is: 'groups-tree',

      properties: {
        selectedTab: { type: Number, observer: '_dataChanged' },
      },
      listeners: {
        'on-group-selected': 'groupSelectHandler'
      },
      ready: function () {
        this.selectedTab = 0;

        var ajax = this.$.ajax;
        var serviceBaseUrl = Polymer.globalsManager.globals.serviceBaseUrl;
        var loggedInUser = Polymer.globalsManager.globals.loggedInUser;
        if (loggedInUser) {
          ajax.headers['Authorization'] = 'Bearer ' + loggedInUser.token;
          ajax.method = 'GET';
          ajax.headers['Version'] = '1.0';
          this.ajaxUrl = serviceBaseUrl + "/userDetails/" + loggedInUser.id + "/followingGroups?fields=name|icon";
          ajax.generateRequest();
        } else {
          this.fire("status-message-update", { severity: 'error', message: 'User is not logged in.' });
        }
      },

      handleAjaxResponse: function (e) {
        var followingGroups = e.detail.response;
        var followingGroupsToCache = [];
        followingGroups.forEach(element => followingGroupsToCache.push(element.id));
        Polymer.globalsManager.set('followingGroups', followingGroupsToCache);
        this.followingGroupsInitialized = 1;
      },

      handleErrorResponse: function (e) {
        var jsonResponse = e.detail.request.xhr.response;
        this.displayErrorMessage(jsonResponse);
      },

      displayErrorMessage: function (errorResponse) {
        var message = '';
        if (errorResponse !== null) {
          switch (errorResponse.errorcode) {
            case 'GenericHttpRequestException':
              message = 'Oh! ohh! Looks like there is some internal issue. Please try again after some time.';
              break;
            default:
              message = errorResponse.errorcode + ' has not been handled yet.';
              break;
          }
        } else {
          message = 'Something went wrong.';
        }
        this.fire("status-message-update", { severity: 'error', message: message });
      },

      _dataChanged: function () {
        if (this.data != null) {
          this.firstRowParentGroupId = this.data[this.selectedTab].id;
          //console.log('firstRowParentGroupId: ' + this.firstRowParentGroupId);
        }
      },

      groupSelectHandler: function (e) {
        switch (e.detail.groupsId) {
          case ('rootRow'):
            this.firstRowParentGroupId = e.detail.selectedGroupId;
            break;
          case ('firstRow'):
            this.secondRowParentGroupId = e.detail.selectedGroupId;
            this.thirdRowParentGroupId = '';
            break;
          case ('secondRow'):
            this.thirdRowParentGroupId = e.detail.selectedGroupId;
            break;

        }
      }
    });
  </script>
</dom-module>