<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/src/shared-styles.html">

<dom-module id="cal-event">
  <template>
    <style include="styles">
      :host {
        display: block;
        padding: 5px;
      }
    </style>
    <div class="card">
      <div class="rectangle">[[eventTitle]]</div>
      <p>[[eventDetails]]</p>
    </div>
  </template>

  <script>
    Polymer({
      is: 'cal-event',
      properties: {
        eventTitle: {
          type: String,
        },
        eventDetails: {
          type: String
        }
      }
    });
  </script>
</dom-module>