<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/src/components/contact-us/contact-us-styles.html">

<dom-module id="contact-us">
    <template>
        <style include="contact-us-styles"></style>

        <div class="card bgimg">
            <div class='contact-container'>
                <div class='contact-header centered text-invert'>
                    <div class='line-one'>Want to get in touch with us</div>
                    <div class='line-two'>Any questions or issues? Please reach us at <span class='email'><a>planetcal@outlook.com</a></span></div>
                </div>
                <hr>
                <div class='contact-address centered text-invert'>
                    <div class=''>
                        <h2>Planet Cal</h2>
                    </div>
                    <div class=''>12345 Planet Cal Street</div>
                    <div class=''>Redmond</div>
                    <div class='location'><img src='/src/images/location.png' width='25' height='25' />
                        <a class="highlight" href="https://goo.gl/maps/kypryxggXvG2" target="_blank">Find us on google maps</a>
                    </div>
                </div>
                <hr>
                <div class='contact-social  text-invert'>
                    <div class='centered'>
                        <a class='social-image' href="https://twitter.com/" target="blank">
              <img src='/src/images/twitter.png' width='25' height='25' />
            <a class='social-image' href="https://www.facebook.com/" target="blank">
              <img src='/src/images/facebook.png' width='25' height='25' />
            <a class='social-image' href="https://www.linkedin.com/" target="blank">
              <img src='/src/images/linkedin.png' width='25' height='25' />
            <a class='social-image' href="https://plus.google.com/collections/featured" target="blank">
              <img src='/src/images/google.png' width='25' height='25' />
          </div>
        </div>
      </div>
    </div>
    </template>
    <script>
        Polymer({
            is: 'contact-us',
        });
    </script>
</dom-module>