<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="contact-us-styles">
    <template>
        <style>
            .bgimg {
                background-color: #000;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .text-invert {
                color: #FFF;
            }

            .highlight {
                color: #0dcce8;
            }

            .centered {
                text-align: center;
            }

            .padding-sides {
                padding: 0 15px 0 15px;
            }

            .padding-verticals {
                padding: 15px 0 15px 0;
            }

            .line-one {
                font-size: 40px;
            }

            .line-two {
                font-size: 17px;
                padding-top: 10px;
            }

            .line-two a {
                color: #0dcce8;
                text-decoration: underline;
            }

            .contact-address {
                font-size: 15px;
            }

            .contact-address span {
                color: #0dcce8;
            }

            .location img {
                vertical-align: text-bottom;
            }

            .contact-address h2 {
                font-weight: normal;
                height: 15px;
            }

            .contact-header {
                padding: 50px 0 15px 0;
            }

            .contact-address {
                padding: 0 0 15px 0;
            }

            hr {
                width: 80%;
                text-align: center;
            }

            .contact-social {
                padding: 15px 0 50px 0;
            }

            .contact-social img:last-child {
                margin-left: 5px;
            }

            .contact-social img {
                margin-right: 10px;
            }

            .social-image {}
        </style>
    </template>
</dom-module>