<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-progress/paper-progress.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">

<script src="/bower_components/moment/moment.js"></script>

<link rel="import" href="./group-events-styles.html">

<dom-module id="group-events">
  <template>
    <!-- Dialog or popup start -->
    <paper-dialog modal id="addEvent" class="size-position">
      <h2>Add Event</h2>
      <paper-dialog-scrollable>
        <div class="dialog-textbox" style="width: 600px;">
          <fieldset>
            <div id="nameFieldDiv">
              <paper-input label="Name" value="{{name}}" char-counter maxlength="50" style="width: 560px;">
              </paper-input>
            </div>
            <div>
              <paper-input label="Description" value="{{description}}" aria-multiline="5" char-counter maxlength="500" style="width: 560px;">
              </paper-input>
            </div>
            <div style="display: flex; width: 570px;">
              <paper-input label="StartDateTime" value="{{startDateTime}}" char-counter maxlength="50" style="width: 250px;">
              </paper-input>
              <span style="width: 60px;"></span>
              <paper-input label="EndDateTime" value="{{endDateTime}}" char-counter maxlength="50" style="width: 250px;">
              </paper-input>
            </div>
            <div style="display: flex; width: 570px;">
              <paper-input label="StreetNumber" value="{{streetNumber}}" char-counter maxlength="15" style="width: 150px;">
              </paper-input>
              <span style="width: 30px;"></span>
              <paper-input label="StreetName" value="{{streetName}}" char-counter maxlength="25" style="width: 390px;">
              </paper-input>
            </div>
            <div style="display: flex; width: 570px;">
              <paper-input label="City" value="{{city}}" char-counter maxlength="20" style="width: 180px;">
              </paper-input>
              <span style="width: 30px;"></span>
              <paper-input label="State" value="{{state}}" char-counter maxlength="20" style="width: 180px;">
              </paper-input>
              <span style="width: 30px;"></span>
              <paper-input label="PostalCode" value="{{postalCode}}" char-counter maxlength="10" style="width: 150px;">
              </paper-input>
            </div>
            <div>
              <paper-input label="Location" value="{{location}}" char-counter maxlength="10">
              </paper-input>
            </div>
          </fieldset>
        </div>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button id="cancelevent" on-tap="cancelEvent">Cancel</paper-button>
        <paper-button id="saveevent" on-tap="saveEvent">Add to Grid</paper-button>
      </div>
    </paper-dialog>
    <!-- Dialog or popup End -->
    <!-- List of Buttons start -->
    <style include="group-events-styles"></style>
    <div id="msg">[[messageText]]</div>
    <div>
      <iron-icon icon="delete-sweep" class="delete" title="Delete selected" on-tap="deleteEvents"></iron-icon>
      <paper-button id="btnUpcoming" class="blue" on-tap="loadEvents">Upcoming</paper-button>
      <paper-button id="btnPast" class="blue" on-tap="pastEvents">past</paper-button>
      <paper-button raised class="indigo" on-tap="showDialog">Add Event</paper-button>
      <paper-button raised class="indigo" on-tap="publishEvents">Publish</paper-button>
    </div>
    <!-- List of Buttons End -->
    <template is="dom-if" if="{{isLoading}}">
      <paper-progress indeterminate></paper-progress>
    </template>
    <!--iron-ajax auto url="../../data/Data.json" handle-as="json" on-response="handleResponse">
    </iron-ajax-->
    <iron-ajax id='ajax' handle-as='json' loading={{isLoading}} url="[[ajaxUrl]]" content-type='application/json' on-error='handleErrorResponse'
      on-response='handleAjaxResponse'></iron-ajax>
    <!-- Grid start -->
    <vaadin-grid id="grid" inverted$="[[inverted]]" on-active-item-changed="onActiveItemChanged">
      <template class="row-details">
        <div style="margin-left: 20px;">
          <p><b>Description: </b> [[item.Description]]</p>
        </div>
      </template>
      <vaadin-grid-column width="5%" flex-grow="0">
        <template class="header">
          <input aria-label="Select All" type="checkbox" on-click="invert" checked="[[isChecked(inverted, indeterminate)]]" indeterminate="[[indeterminate]]">
        </template>
        <template>
          <input aria-label="Select Row" type="checkbox" on-change="selectItem" checked="[[isSelected(inverted, selected)]]">
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="30%">
        <template class="header">Name</template>
        <template>
          [[item.Name]]
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">Start Date</template>
        <template>
          [[formatDate(item.StartDateTime)]]
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">End Date</template>
        <template>
          [[formatDate(item.EndDateTime)]]
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="25%">
        <template class="header">Address</template>
        <template>
          [[item.Address.StreetNumber]] [[item.Address.StreetName]], [[item.Address.City]], <br> [[item.Address.State]],
          [[item.Address.PostalCode]]
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="7%">
        <template class="header">Action</template>
        <template>
          <div>
            <iron-icon icon="create" class="delete" title="Edit" on-tap="editEvent"></iron-icon>
            <iron-icon icon="delete" class="delete" title="Delete" on-tap="deleteEvent"></iron-icon>

            <iron-icon icon="done" style="color: green; cursor: none; display: none;" title="Success;"></iron-icon>
            <iron-icon icon="close" style="color: red;  cursor: none; display: none" title="Success;"></iron-icon>
          </div>
        </template>
      </vaadin-grid-column>
    </vaadin-grid>
    <!-- Grid End -->
  </template>
  <script type="text/javascript" src="/src/components/group-events/group-events.js"></script>
</dom-module>