<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="./group-events-styles.html">
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<style>
  .event-icons {
    color: #007e9e;
    margin-left: 5px;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .event-icons:hover {
    color: #0FCFFF;
  }
</style>

<dom-module id="group-events">
  <template>
    <!-- Dialog or popup start -->
    <paper-dialog modal id="addEvent" class="size-position">
      <h2 id="eventDialogHeader"></h2>
      <paper-dialog-scrollable>
        <div class="dialog-textbox" style="width: 600px;">
          <fieldset>
            <div id="nameFieldDiv">
              <paper-input label="Name" class="addEvent" value="{{name}}" char-counter maxlength="50" style="width: 560px;" required error-message="required"
                on-change="validateOnChange">
              </paper-input>
            </div>
            <div>
              <paper-input label="Description" class="addEvent" value="{{description}}" aria-multiline="5" char-counter maxlength="500"
                style="width: 560px;" required error-message="required" on-change="validateOnChange">
              </paper-input>
            </div>
            <div id="divDate" style="display: flex; width: 570px; margin-top: 10px;">
              <paper-input label="Start Date" class="addEvent" value="{{startDate}}" style="width: 160px;" readonly required error-message="required"
                on-tap="onStartDateChange" on-change="validateOnChange">
              </paper-input>
              <iron-icon class="event-icons" icon="icons:event" title="Start Date" on-tap="onStartDateChange"></iron-icon>
              <paper-input label="Start Time" class="addEvent" value="{{startTime}}" style="width: 80px; margin-left: 10px;" readonly required
                error-message="required" on-tap="onStartTimeChange" on-change="validateOnChange">
              </paper-input>
              <iron-icon class="event-icons" icon="icons:alarm" title="Start Time" on-tap="onStartTimeChange"></iron-icon>
              <paper-input label="End Date" class="addEvent" value="{{endDate}}" style="width: 160px;margin-left: 15px;" readonly required
                error-message="required" on-tap="onEndDateChange" on-change="validateOnChange">
              </paper-input>
              <iron-icon class="event-icons" icon="icons:event" title="End Date" on-tap="onEndDateChange"></iron-icon>
              <paper-input label="End Time" class="addEvent" value="{{endTime}}" style="width: 80px; margin-left: 10px;" readonly required
                error-message="required" on-tap="onEndTimeChange" on-change="validateOnChange">
              </paper-input>
              <iron-icon class="event-icons" icon="icons:alarm" title="End Time" on-tap="onEndTimeChange"></iron-icon>

              <!--paper-input label="EndDateTime" class="addEvent" value="{{endDateTime}}" char-counter maxlength="50" style="width: 250px;"
                required error-message="required" on-change="validateOnChange">
              </paper-input-->
            </div>
            <div style="display: flex; width: 570px;">
              <paper-input label="StreetNumber" class="addEvent" value="{{streetNumber}}" char-counter maxlength="15" style="width: 150px;"
                required error-message="required" on-change="validateOnChange">
              </paper-input>
              <span style="width: 30px;"></span>
              <paper-input label="StreetName" class="addEvent" value="{{streetName}}" char-counter maxlength="25" style="width: 390px;"
                required error-message="required" on-change="validateOnChange">
              </paper-input>
            </div>
            <div style="display: flex; width: 570px;">
              <paper-input label="City" class="addEvent" value="{{city}}" char-counter maxlength="20" style="width: 180px;" required error-message="required"
                on-change="validateOnChange">
              </paper-input>
              <span style="width: 30px;"></span>
              <paper-input label="State" class="addEvent" value="{{state}}" char-counter maxlength="20" style="width: 180px;" required
                error-message="required" on-change="validateOnChange">
              </paper-input>
              <span style="width: 30px;"></span>
              <paper-input label="PostalCode" class="addEvent" value="{{postalCode}}" char-counter maxlength="10" style="width: 150px;"
                required error-message="required" on-change="validateOnChange">
              </paper-input>
            </div>
            <div>
              <paper-input label="Location" class="addEvent" value="{{location}}" char-counter maxlength="10" required error-message="required"
                on-change="validateOnChange">
              </paper-input>
            </div>
          </fieldset>
        </div>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button id="cancelevent" on-tap="cancelEvent">Cancel</paper-button>
        <paper-button id="saveevent" on-tap="saveEvent">Add to Grid</paper-button>
      </div>
    </paper-dialog>

    <!-- Dialog for Date time picker - start -->
    <paper-dialog id="startDatePickerDialog" class="paper-date-picker-dialog" modal>
      <paper-date-picker id="startDatePicker" date="{{startDateTime}}"></paper-date-picker>
      <div class="buttons">
        <paper-button dialog-dismiss on-tap="cancelStartDate">Cancel</paper-button>
        <paper-button dialog-confirm on-tap="setStartDate">OK</paper-button>
      </div>
    </paper-dialog>
    <paper-dialog id="startTimePickerDialog" modal class="paper-time-picker-dialog">
      <paper-time-picker id="startTimePicker" time="{{startTime}}"></paper-time-picker>
      <div class="buttons">
        <paper-button dialog-dismiss on-tap="cancelStartTime">Cancel</paper-button>
        <paper-button dialog-confirm on-tap="setStartTime">OK</paper-button>
      </div>
    </paper-dialog>
    <paper-dialog id="endDatePickerDialog" class="paper-date-picker-dialog" modal>
      <paper-date-picker id="endDatePicker" date="{{endDateTime}}"></paper-date-picker>
      <div class="buttons">
        <paper-button dialog-dismiss on-tap="cancelEndDate">Cancel</paper-button>
        <paper-button dialog-confirm on-tap="setEndDate">OK</paper-button>
      </div>
    </paper-dialog>
    <paper-dialog id="endTimePickerDialog" modal class="paper-time-picker-dialog">
      <paper-time-picker id="endTimePicker" time="{{endTime}}"></paper-time-picker>
      <div class="buttons">
        <paper-button dialog-dismiss on-tap="cancelEndTime">Cancel</paper-button>
        <paper-button dialog-confirm on-tap="setEndTime">OK</paper-button>
      </div>
    </paper-dialog>
    <!-- Dialog for Date time picker - end -->
    <!-- Dialog or popup End -->
    <!-- List of Buttons start -->
    <style include="group-events-styles"></style>
    <div id="msg">[[messageText]]</div>
    <div>
      <iron-icon icon="icons:delete-sweep" class="delete-icon" title="Delete selected" on-tap="deleteEvents"></iron-icon>
      <paper-button id="btnUpcoming" class="blue" on-tap="loadEvents">Upcoming</paper-button>
      <paper-button id="btnPast" class="blue" on-tap="pastEvents">past</paper-button>
      <paper-button raised class="indigo" on-tap="showDialog">Add Event</paper-button>
    </div>
    <!-- List of Buttons End -->
    <!--template is="dom-if" if="{{isLoading}}">
      <paper-progress indeterminate></paper-progress>
    </template-->
    <!--iron-ajax auto url="../../data/Data.json" handle-as="json" on-response="handleResponse">
    </iron-ajax-->
    <iron-ajax id='ajax' handle-as='json' loading={{isLoading}} url="[[ajaxUrl]]" content-type='application/json' on-error='handleErrorResponse'
      on-response='handleAjaxResponse'></iron-ajax>
    <!-- Grid start -->
    <vaadin-grid id="grid" inverted$="[[inverted]]" on-active-item-changed="onActiveItemChanged">
      <template class="row-details">
        <div style="margin-left: 20px;">
          <p><b>Description: </b> [[item.Description]]</p>
        </div>
      </template>
      <vaadin-grid-column width="5%" flex-grow="0">
        <template class="header">
          <input aria-label="Select All" type="checkbox" on-click="invert" checked="[[isChecked(inverted, indeterminate)]]" indeterminate="[[indeterminate]]">
        </template>
        <template>
          <input aria-label="Select Row" type="checkbox" on-change="selectItem" checked="[[isSelected(inverted, selected)]]">
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="30%">
        <template class="header">Name</template>
        <template>
          [[item.Name]]
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">Start Date</template>
        <template>
          <div>[[formatDate(item.StartDateTime)]]</div>
          <div>[[formatTime(item.StartDateTime)]]</div>
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="15%">
        <template class="header">End Date</template>
        <template>
          <div>[[formatDate(item.EndDateTime)]]</div>
          <div>[[formatTime(item.EndDateTime)]]</div>
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="25%">
        <template class="header">Address</template>
        <template>
          [[item.Address.StreetNumber]] [[item.Address.StreetName]], [[item.Address.City]], <br> [[item.Address.State]],
          [[item.Address.PostalCode]]
        </template>
      </vaadin-grid-column>
      <vaadin-grid-column width="7%">
        <template class="header">Action</template>
        <template>
          <div>
            <iron-icon icon="icons:create" class="grid-icon" title="Edit" on-tap="editEvent"></iron-icon>
            <iron-icon icon="icons:delete" class="grid-icon" title="Delete" on-tap="deleteEvent"></iron-icon>
          </div>
        </template>
      </vaadin-grid-column>
    </vaadin-grid>
    <!-- Grid End -->
  </template>
  <script type="text/javascript" src="/src/components/group-events/group-events.js"></script>
</dom-module>