<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="group-events-styles">
    <template>
        <style>
             :host {
                display: block;
            }
            /* Vaadin Grid styles -- Start*/
            
            vaadin-grid {
                color: var(--app-text-color-light);
                height: 100%;
                --divider-color: rgb(223, 232, 239);
                --vaadin-grid-cell: {
                    padding: 0 13px;
                    background-color: #576075;
                    background-image: linear-gradient(rgba(108, 160, 218, 0), rgba(108, 160, 218, 0.15));
                }
                ;
                --vaadin-grid-body-cell: {
                    height: 50px;
                    color: var(--app-text-color-dark);
                }
                ;
                --vaadin-grid-header-cell: {
                    background: #373B46;
                    border-bottom: 1px solid rgba(208, 217, 225, 0.9);
                    border-top: 1px solid rgba(248, 250, 252, 0.9);
                    min-height: 35px;
                    background-image: linear-gradient(rgba(108, 160, 218, 0), rgba(108, 160, 218, 0.15));
                    background-size: 1px 100%;
                    background-position: 100% 0%;
                    background-repeat: no-repeat;
                    text-transform: uppercase;
                }
                ;
                --vaadin-grid-body-row-selected-cell: {
                    background-color: #4B5363;
                    color: #8EB2BA;
                    border-bottom-color: rgb(108, 160, 218);
                }
                ;
                --vaadin-grid-header-row-selected-cell: {
                    background-color: #4B5363;
                    color: #8EB2BA;
                    border-bottom-color: rgb(108, 160, 218);
                }
                ;
                --vaadin-grid-body-row-odd-cell: {
                    background-color: #545C72;
                }
                ;
                --vaadin-grid-body-row-hover-cell: {
                    background-color: #6F778C;
                }
                ;
                --vaadin-grid-body-row-details-cell: {
                    background-color: #6F778C;
                    color: var(--app-text-color-dark);
                    display: flex;
                    vertical-align: top;
                }
                ;
                --vaadin-grid-column-resize-handle: {
                    opacity: 0;
                }
                ;
            }
            
            vaadin-grid input[type=checkbox] {
                height: 16px;
                width: 16px;
            }
            
            vaadin-grid .image {
                height: 40px;
                display: inline-block;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 5px;
            }
            
            vaadin-grid .header-content {
                display: flex;
                padding: 16px;
                justify-content: space-between;
            }
            
            vaadin-grid .details-cell {
                background: #fff;
                width: 100%;
            }
            
            .details {
                background-color: white;
                color: var(--app-text-color-dark);
                padding: 10px;
                margin: 10px;
                display: flex;
                vertical-align: top;
            }
            /* Paper button styles -- Start*/
            
            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
            }
            
            paper-button.blue {
                color: var(--app-color-i);
                width: auto;
                --paper-button-ink-color: var(--app-color-i);
            }
            
            paper-button.blue:hover {
                background-color: var(--app-color-p);
            }
            
            paper-button.indigo {
                background-color: var(--paper-indigo-500);
                color: var(--app-text-color-light);
                width: 200px;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-blue-a200) !important;
                    color: var(--app-text-color-light) !important;
                }
                ;
            }
            
            paper-button.indigo:hover {
                background-color: var(--paper-indigo-400);
            }
            
            paper-progress {
                --paper-progress-active-color: lightblue;
                --paper-progress-secondary-color: lightblue;
                --paper-progress-container-color: grey;
                --paper-progress-height: 20px;
                width: 50%;
                padding: 25px 0;
            }
            
            paper-dialog.size-position {
                position: fixed;
                top: 16px;
                right: 16px;
                width: 900px;
                height: 600px;
                overflow: auto;
            }
            
            iron-icon.delete-icon {
                margin-left: 12px;
                cursor: pointer;
                color: #007e9e;
            }
            
            iron-icon.delete-icon:hover {
                color: #0FCFFF;
            }
            
            iron-icon.delete-icon:active {
                color: red;
            }
            
            iron-icon.grid-icon {
                margin-left: 12px;
                cursor: pointer;
                color: var(--app-text-color-light);
            }
            
            iron-icon.grid-icon:hover {
                color: var(--paper-indigo-400);
            }
            
            iron-icon.grid-icon:active {
                color: red;
            }
            
            span.test {
                display: inline-block;
                border-bottom: 1px solid black;
                padding-bottom: 2px;
            }
            
            #divDate.start-time {
                color: red;
            }
            
            paper-dialog#addEvent.size-position.start-time {
                color: red;
            }
            
            .blue-text {
                color: var(--app-color-g);
            }
        </style>
    </template>
</dom-module>