<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="/src/shared-styles.html">

<dom-module id="cal-recommend">
  <template>
    <style>
      .recommend {
        margin: 5px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        width: 96%
      }
    </style>
    <paper-card class="recommend">
      <div class="card-content">
        <p>Recommendations:</p>

        <paper-icon-button icon="maps:directions-bus"></paper-icon-button>
        <span>bus stand</span>
        <paper-icon-button style="color:blue" icon="places:child-care"></paper-icon-button>
        <span>child care</span>
      </div>
    </paper-card>
  </template>

  <script>
    Polymer({
      is: 'cal-recommend',
    });
  </script>
</dom-module>