<link rel="import" href="/src/polymer-refs.html">

<dom-module id="global-variables">
  <template>
  </template>

  <script>
    Polymer({
      is: 'global-variables',

      ready: function () {

        var todaysDateTime = new Date();
        var todayDay = todaysDateTime.getDate();
        var todayYear = todaysDateTime.getFullYear();
        var todayMonth = todaysDateTime.getMonth();

        var selectedDate = {
          day: this.todayDay,
          month: this.todayMonth + 1,
          year: this.todayYear
        }
        Polymer.globalsManager.set('selectedDate', selectedDate);

        Polymer.globalsManager.set('daysCount', '30');

        Polymer.globalsManager.set('product', {
          name: 'PlanetCal',
          displayName: 'Planet Calendar',
          url: 'https://www.planetcal.com'
        });

        //Polymer.globalsManager.set('serviceBaseUrl', 'http://localhost:1337');
        Polymer.globalsManager.set('serviceBaseUrl', 'https://calapisvc.azurewebsites.net');

        Polymer.globalsManager.set('emptyGuid', '00000000-0000-0000-0000-000000000000');
        Polymer.globalsManager.set('enableChildGroups', true);
      }
    });
  </script>
</dom-module>