<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="group-follow-styles">
    <template>
        <style>
            .followButton {
                height: 2em;
                background-color: var(--app-color-l);
                padding: 10px;
                margin-left: 0px;
                text-align: center;
                border-radius: 5px;
                color: var(--app-text-color-light);
                text-decoration: none;
                border: none;
                cursor: pointer;
                font-size: 16px;
            }

            .followButton:hover {
                background-color: var(--app-color-j);
            }

            div {
                margin-left: 10px;
            }
        </style>
    </template>
</dom-module>