<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-input/iron-input.html">
<link rel="import" href="/src/components/search/search-bar-styles.html">

<dom-module id="search-bar">
    <template>
        <style include="search-bar-styles"></style>
        <div on-click="toggleSearch">
            <input class="textInput" is="iron-input" bind-value="{{searchInput}}" type="search" id="input" on-keyup="onKeyPress" autocomplete="off">
            <paper-icon-button icon="search"></paper-icon-button>
        </div>
    </template>
    <script type="text/javascript" src="search-bar.js"></script>
</dom-module>