<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="groups-edit-styles">
    <template>
        <style>
             :host {
                display: block;
            }

            body {
                background-color: lightblue;
            }

            a {
                text-decoration: none;
                color: var(--paper-blue-a200);
                ;
            }

            a:hover {
                text-decoration: underline;
                color: lightseagreen;
            }

            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
            }

            paper-button.blue {
                color: var(--app-color-i);
                width: auto;
                --paper-button-ink-color: var(--app-color-i);
            }

            paper-button.blue:hover {
                background-color: var(--app-color-p);
            }

            paper-button.back {
                background-color: var(--app-color-i);
                color: var(--app-color-o);
                width: 100px;
                --paper-button-ink-color: var(--app-color-o);
            }

            paper-button.back:hover {
                color: var(--app-color-r);
            }

            div.buttons {
                width: 100%;
                text-align: right;
                margin-top: 20px;
                margin-right: 20px;
                align-content: inherit;
            }

            iron-icon.icon-edit {
                color: var(--app-color-i);
                cursor: pointer;
                margin-left: 10px;
            }

            iron-icon.icon-edit:hover {
                color: var(--app-color-g);
            }
        </style>
    </template>
</dom-module>