<link rel="import" href="/src/polymer-refs.html">
<link rel="import" href="groups-edit-styles.html">

<dom-module id="groups-edit">
  <template>
    <style include="groups-edit-styles"></style>
    <iron-ajax id='ajax' handle-as='json' loading={{isLoading}} url="[[ajaxUrl]]" content-type='application/json' on-error='handleErrorResponse'
      on-response='handleAjaxResponse'></iron-ajax>
    <div style="margin-left: 1%; margin-right: 1%;">
      <div style="margin: 10px; display: flex;">
        <paper-button class="back" on-tap="backToGroups" title="Back to Groups">
          <iron-icon icon="icons:arrow-back"></iron-icon>Groups</paper-button>
        <h3 style="margin-left: 15%">Group Details</h3>
      </div>
      <div style="display: flex;">
        <paper-input style="width: 30%;" label="Name" class="saveGroups" value="{{name}}" char-counter maxlength="50" required error-message="required"
          on-change="validateOnChange">
        </paper-input>
        <span style="width: 5%;"></span>
        <paper-dropdown-menu label="Category" style="width: 30%;" required error-message="required" on-change="validateOnChange">
          <paper-listbox attr-for-selected="value" slot="dropdown-content" class="dropdown-content" selected="{{category}}">
            <paper-item value="Local">Local</paper-item>
            <paper-item value="Personal">Personal</paper-item>
            <paper-item value="School">School</paper-item>
            <paper-item value="Sports">Sports</paper-item>
            <paper-item value="Work">Work</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <span style="width: 5%"></span>
        <paper-dropdown-menu label="Privacy" style="width: 30%;" required error-message="required" on-change="validateOnChange">
          <paper-listbox attr-for-selected="value" slot="dropdown-content" class="dropdown-content" selected="{{privacy}}">
            <paper-item value="Closed">Closed</paper-item>
            <paper-item value="Open">Open</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
      </div>
      <div>
        <paper-button class='blue' on-tap="toggle">
          <iron-icon icon="[[expandButtonIcon]]"></iron-icon>[[expandButtonText]]</paper-button>
        <iron-collapse id='collapse'>
          <paper-textarea class="saveGroups" label="Description" value="{{description}}" char-counter maxlength="500" max-rows="4"></paper-textarea>
          <paper-textarea label="Administrators" class="saveGroups" value="{{administrators}}" char-counter maxlength="500" max-rows="2"></paper-textarea>
          <div style="display: flex;">
            <paper-input label="Address" class="saveGroups" value="{{address}}" char-counter maxlength="200" style="width: 100%;">
            </paper-input>
          </div>
          <div style="display: flex;">
            <paper-input label="Location" class="saveGroups" value="{{location}}" char-counter maxlength="50" style="width: 25%;">
            </paper-input>
            <span style="width: 2%;"></span>
            <paper-input label="Website" class="saveGroups" value="{{website}}" char-counter maxlength="50" style="width: 25%;" on-change="validateOnChange">
            </paper-input>
            <span style="width: 2%;"></span>
            <paper-input label="Phone" class="saveGroups" value="{{phone}}" char-counter maxlength="15" style="width: 25%;">
            </paper-input>
            <span style="width: 2;"></span>
            <paper-input label="Email" class="saveGroups" value="{{email}}" char-counter maxlength="25" style="width: 25%;">
            </paper-input>
          </div>
          <div style="display: flex;">
            <img id="previewImage" src="{{previewSrc}}" width="300" height="140" style="vertical-align: top;" />
            <iron-icon class="icon-edit" icon="icons:file-upload" title="Edit" on-tap="editImage"></iron-icon>
            <span id="imageUploadInstructions" style="margin-left: 5%; vertical-align: top; text-align: left;">
              <h3>Instructions for group image upload: </h3>
              <ul>
                <li>Image size can maximum be 2MB</li>
                <li>Recommended width and height of image is 300 X 150</li>
                <li>Size more than 300 X 150 will be reset to this size</li>
              </ul>
            </span>
          </div>
          <div>
            <div style="vertical-align: top; visibility: hidden; margin-top: -45px;">
              <paper-input type="file" label="Upload Image" id="eventImage" on-change="previewImage" style="vertical-align: top;" accept="image/*"></paper-input>
            </div>
          </div>
        </iron-collapse>
      </div>


      <!--div>
      </div>
      <div>
        <paper-textarea label="Members" class="saveGroups" value="{{members}}" char-counter maxlength="200" max-rows="" 2>
        </paper-textarea>
      </div-->

      <div class="buttons">
        <!--div>
            
          </div-->
        <paper-button class="blue" id="deletegroup" on-tap="delete">
          <iron-icon icon="icons:delete"></iron-icon> Delete</paper-button>
        <paper-button class="blue" id="savegroup" on-tap="saveGroup">
          <iron-icon icon="icons:done"></iron-icon> Save</paper-button>
      </div>
    </div>
  </template>
  <script type="text/javascript" src="/src/components/groups/edit/groups-edit.js"></script>
</dom-module>